/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/
.idea/

pkg-out/
tmp/*
!tmp/.gitkeep

/var/mysql_data/*
/var/mysql_data/**

/var/**
!/var/
!/var/**/
!/var/**/.gitkeep

.phpunit.result.cache
/phpunit.xml

/phpunit.xml
.phpunit.result.cache
